@page "/budget-goal"
@page "/budget-goal/{id}"


@attribute [Authorize]

@using FinMarketApp.Shared
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime

@if (Id == null)
{
    <h1>
        No such budget goal found.
    </h1>
}


<PageTitle>Fin Market (Budget Tracker)</PageTitle>

<link href="css/budgetTracker.css" rel="stylesheet" />

<NavMenu />


<main>
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="title">@budgetGoal?.Name</div>
            <button class="btn btn-primary btn-budget"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#createExpensesModal">
                Add Expenses
            </button>

            <!-- Modal -->
            <div class="modal fade"
                 id="createExpensesModal"
                 tabindex="-1"
                 aria-labelledby="createExpensesModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    Create Expense
                                </h1>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="name"
                                                   @bind="newExpense.Name"
                                                   required />
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Category</label>
                                            <select class="form-select"
                                                    aria-label="Default select example"
                                                    name="category"
                                                    @bind="newExpense.Category"
                                                    required>
                                                <option>Select Category</option>
                                                @if (categories != null && categories.Any())
                                                {
                                                    @foreach (var category in categories)
                                                    {
                                                        <option value="@category.Name">@category.Name</option>
                                                    }
                                                }
                                           
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Amount</label>
                                            <input type="number"
                                                   step="0.01"
                                                   class="form-control"
                                                   name="amount"
                                                   placeholder="$0.00"
                                                    @bind="newExpense.Amount"
                                                   required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-outline-dark"
                                        data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary btn-budget" @onclick="() => CreateExpense()">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-title">Budget Goal</div>
                    <div class="figure">$@budgetGoal?.Target</div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">Balance</div>
                    <div class="figure">$@(budgetGoal?.Target - TotalExpenses)</div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">Status</div>
                    <div class="figure">
                        @if (TotalExpenses < budgetGoal?.Target)
                        {
                            <span class="badge bg-success">On Track</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Over Budget</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">Total Expenses</div>
                    <div class="figure">$@TotalExpenses</div>
                </div>
            </div>
        </div>

        <div class="section-title">Recent transactions</div>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (expenses != null && expenses.Any())
                    {
                        @foreach (var expense in expenses)
                        {
                            <tr>
                               <td>
                                    @expense.ExpenseId
                               </td>
                                <td>
                                    @expense.Category
                                </td>
                                <td>
                                    @expense.Name
                                </td>
                                <td>
                                    $@expense.Amount
                                </td>
                                <td>
                                    @expense.Date
                                </td>
                                <td>
                                    <button class="btn btn-light btn-action" type="button" data-bs-toggle="modal"
                                            data-bs-target="#updateExpenseModal">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade"
                                         id="updateExpenseModal"
                                         tabindex="-1"
                                         aria-labelledby="updateExpenseModal"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <form action="">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="updateExpenseModal">
                                                            Update Expense
                                                        </h1>
                                                        <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="form-label">Name</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="name"
                                                                           @bind="updateExpense.Name"
                                                                            />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label class="form-label">Category</label>
                                                                        <select class="form-select"
                                                                                aria-label="Default select example"
                                                                                name="category"
                                                                                @bind="updateExpense.Category"
                                                                                >
                                                                            <option>Select Category</option>
                                                                            @if (categories != null && categories.Any())
                                                                            {
                                                                                @foreach (var category in categories)
                                                                                {

                                                                                    @if (category.Name == expense.Category)
                                                                                    {
                                                                                        <option value="@category.Name" selected>@category.Name</option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@category.Name">@category.Name</option>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="form-label">Amount</label>
                                                                    <input type="number"
                                                                           step="0.01"
                                                                           class="form-control"
                                                                           name="amount"
                                                                           @bind="updateExpense.Amount"
                                                                            />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <small class="text-muted">
                                                                Leave the fields empty if you do not want to update them.
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="btn btn-outline-dark"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary btn-budget" @onclick="() => UpdateExpense(expense.ExpenseId)">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                    <button class="btn btn-light btn-action" type="button" @onclick="() => DeleteExpense(expense.ExpenseId)">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

@code{
    [Parameter]
    public string Id { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }


    BudgetGoal budgetGoal;
    List<Expense> expenses;
    List<Category> categories;
    double TotalExpenses = 0;
    double balance = 0;

    private Expense newExpense = new Expense();


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user != null && user.IsAuthenticated)
        {
            try
            {
                // ==== Get Budget By ID ====
                budgetGoal = await Http.GetFromJsonAsync<BudgetGoal>($"api/budgetgoal/{Id}");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }

        // Get expenses by goalId
        if (user != null && user.IsAuthenticated)
        {
            try
            {
                // ==== Get Expenses By Goal ID ====
                expenses = await Http.GetFromJsonAsync<List<Expense>>($"api/expense/{Id}");

                Console.WriteLine("============== EXPENSE INIT ==============");

                Console.WriteLine($"Expenses: {expenses}");
            }
            catch(Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }

        // Get categories
        if (user != null && user.IsAuthenticated)
            Console.WriteLine("============== CATEGORY INIT ==============");
        {       
            try
            {
                // ==== Get Categories ====
                categories = await Http.GetFromJsonAsync<List<Category>>($"api/category");

                foreach (var category in categories)
                {
                    Console.WriteLine($"Category: {category.Name}");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }

        // Calculate total expenses amount
        if (expenses != null && expenses.Any())
        {
            foreach (var expense in expenses)
            {
                TotalExpenses += expense.Amount;
            }

            //balance = budgetGoal.Target - TotalExpenses;
        }
    }

    // Create expense
    private async Task CreateExpense()
    {
        // check if category is selected empty, do alert
        if (newExpense.Category == "")
        {
            await JSRuntime.InvokeVoidAsync("alert", "Category must not be empty");
            return;
        }

        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user != null && user.IsAuthenticated)
        {
            try
            {
                // ==== Create Expense ====
                newExpense.GoalId = int.Parse(Id);

                var response = await Http.PostAsJsonAsync($"api/expense/", newExpense);

                if (response.IsSuccessStatusCode)
                {
                    Console.WriteLine("Expense created successfully!");
                }
                else
                {
                    Console.WriteLine("Expense creation failed!");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }
    }

    // Delete expense
    private async Task DeleteExpense(int id)
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user != null && user.IsAuthenticated)
        {
            try
            {
                // ==== Delete Expense ====
                var response = await Http.DeleteAsync($"api/expense/{id}");

                if (response.IsSuccessStatusCode)
                {
                    // Refresh page
                    NavigationManager.NavigateTo($"/budget-goal/{Id}", true);
                    Console.WriteLine("Expense deleted successfully!");
                }
                else
                {
                    Console.WriteLine("Expense deletion failed!");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }
    }

    // Update expense
    Expense updateExpense = new Expense();

    private async Task UpdateExpense(int expenseId)
    {

        Console.WriteLine($"Expense Category update ===>: {updateExpense.Category}");

        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user != null && user.IsAuthenticated)
        {
            try
            {
                // ==== Update Expense ====
                var response = await Http.PutAsJsonAsync($"api/expense/{expenseId}", updateExpense);

                if (response.IsSuccessStatusCode)
                {
                    Console.WriteLine("Expense updated successfully!");
                }
                else
                {
                    Console.WriteLine("Expense update failed!");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ERROR: {ex.Message}");
            }
        }
    }

}